{% extends "layout.html.twig" %}

{% block title %}
	Build - {{ parent() }}
{% endblock %}

{% block body %}

	<script src="/symfoDex/script/Build/valuesComputation.js"></script>
	<script src="/symfoDex/script/Build/ajaxFunctions.js"></script>
	<script src="/symfoDex/script/Build/inputsValidation.js"></script>

	<h1>Build Symfodex</h1>

	<hr>

	{% block sd_build_body %}
	{% endblock %}

{% endblock %}